<h1 class="page-header">Welcome to Harmony</h1>

<p>
	This is the place where you can find everything you need to know about
	RayBear Harmony, Enterprise Angular Components and Styles.
</p>

<p>
	List of upcoming components that are being developed:
</p>

<ul>
	<li>Alert</li>
	<li>Button</li>
	<li>Slider</li>
	<li>Radio</li>
	<li>Checkbox</li>
	<li>Input</li>
	<li>Slide Toggle</li>
	<li>Date / Time Picker</li>
	<li>List</li>
	<li>Table</li>
	<li>Tab</li>
	<li>Accordion</li>
	<li>Modal</li>
	<li>Toaster</li>
	<li>Autocomplete</li>
	<li>Chip</li>
	<li>Progress</li>
	<li>Card</li>
	<li>Dialog</li>
	<li>Tooltip</li>
	<li>Paginator</li>
	<li>Kanban</li>
	<li>Workflow</li>
	<li>Tag List</li>
	<li>Loader</li>
	<li>Badge</li>
	<li>Wizard Progress</li>
	<li>Hierarchy</li>
	<li>Hierarchy</li>
	<li>Label</li>
	<li>Quick Nav</li>
	<li>Carousel</li>
	<li>Snack Bar</li>
	<li>Split View</li>
	<li>Rating</li>
	<li>Tree View</li>
</ul>
