<h1 class="page-header">
	Banner
</h1>

<div class="component-detail">
	<p>
		Use banners at the top of the screen to display critical messaging about loss of data or functionality,
		and only once per page. Banners should not include a dismiss icon, and should only disappear once
		the related issue is resolved.
	</p>

	<hmn-banner type="info">
		Need more information?
		Check out Harmony API Documentation
	</hmn-banner>

	<hmn-banner type="warning">
		Be careful, you might have some issues that needs to be fixed.
	</hmn-banner>

	<hmn-banner type="error">
		Server error.
		Please contact system administrator if this continues to happen.
	</hmn-banner>

	<hmn-banner type="success">
		Congratulations, you have successfully uploaded document.
	</hmn-banner>
</div>
