@import '../lib/core/theming/theme';
@import '../lib/core/theming/palette';

$hmn-product-color: #B0347C;

* {
	margin: 0;
	padding: 0;
	clear: both;
}

html, body {
	height: 100%;
}

html {
	background: #fefefe;
}

.hmn-page__viewport__content {

	h1 {

		&.page-header {
			background: $hmn-product-color;
			display: block;
			margin: -20px -20px 20px;
			padding: 20px;
			color: map_get($hmn-gray, 'f');
		}
	}

	p {
		margin-bottom: 10px;
	}

	ul {
		list-style: none;

		li {
			padding-left: 0;

			&:before {
				font-family: FontAwesome;
				content: "\f054";
				color: $hmn-product-color;
				margin-right: 5px;
			}
		}
	}

	.component-detail {

		max-width: 900px;
	}
}
