@import '../lib/core/theming/theme';
@import '../lib/core/theming/palette';

$hmn-product-color: #B0347C;

* {
	margin: 0;
	padding: 0;
	clear: both;
}

html, body {
	height: 100%;
}

html {
	background: #fefefe;
}
